* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  width: 90%;
  margin: auto;
}
.logo_container,
.nav-links,
.cart {
  display: flex;
}
.logo_container {
  flex: 1;
}
.log {
  font-weight: 400;
  margin: 5px;
}
nav {
  flex: 2;
}
.cart {
  flex: 1;
}
